/* font-family: 'Saira Stencil One',
cursive;

font-family: 'Chelsea Market',
cursive;

font-family: 'Montserrat',
sans-serif;

 */

body {
    background: url('../img/dark-bg.png');
}


li,
ol {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}


header {
    min-height: 100vh;
}

.container {
    padding: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

header .main {
    min-height: 100vh;
    background: url('../img/white-bg.png');
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding-bottom: 60px;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar {
    padding: 10px;
    padding-left: 25px;
}

.nav-ul {
    display: flex !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Chelsea Market',
        cursive;
}

.navbar-link:hover {
    color: #ffb600;
}

.test-block {
    margin: auto;
}

.test-title {
    font-size: 39px;
    font-family: 'Chelsea Market',
        cursive;
}

.test-name {
    color: red;
}

.questions-list {
    margin-top: 75px;
    padding: 0;
}

.question {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 45px;
}

.question li {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.btns {
    text-align: center;
}

.res {
    color: red;
    padding: 12px 28px;
    font-family: 'Chelsea Market',
        cursive;
    border: 1px solid red;
    margin-right: 15px;
    transition: 0.4s all;
}

.res:hover {
    border-radius: 15px;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(230, 30, 30, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(230, 30, 30, 1);
    box-shadow: 0px 0px 5px 2px rgba(230, 30, 30, 1);
    color: red
}

.reset {
    color: #0069d9;
    padding: 12px 28px;
    border: 1px solid #0069d9;
    font-family: 'Chelsea Market',
        cursive;
    transition: 0.4s all;
}

.reset:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(28, 139, 230, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(28, 139, 230, 1);
    box-shadow: 0px 0px 5px 2px rgba(28, 139, 230, 1);
    border-radius: 15px;
}


.resBlock {
    margin-top: 60px;
    font-family: 'Montserrat',
        sans-serif;
}

.resBlock img {
    margin-bottom: 15px;
}